body {
    background-color: darkslategray;
    color: aquamarine;
}

.card {
    background-color: aqua;
    color: black;
    /* height: 500px;
    width: 400px; */
    padding: 10px;
  
   
}

.view {
    background-color: aquamarine;
    display: flex;

} 

.profile-pic {
    width: 100%; 
    display: inline-block;
    vertical-align: top;
}

.profile-pic img {
    width:auto;
    border-radius: 10px;
    height: 50%;
}

.profile-details {
    margin: 0;
    color: black;
    display: inline-block;
    text-align: justify;
}


 .div-p{
     border: 16px solid red;
     padding: 10px;
     margin: 20px 0;
 }

 span {
     background-color: cadetblue;
     color: brown;
 }

 #i-block {
     display: inline-block;
     margin-top: 10px;
     margin-bottom: 10px;
     color: blue;

 }

 .inline-parrent {
     background-color: chartreuse;
     width: 400px;
     /* margin-bottom: 3px; */
     padding: 15px;
     height: 300px;
 }

 /* div {
     background-color: bisque;
     color: black;
     margin-bottom: 15px;
 }

 span {
     color: white;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 }

 .team-a {
     background-color: darkslateblue;
     color: lightgreen;
 }

 #neymar {
     color: aqua;
     background-color: coral;
 }

 .shuvo {
     color: hotpink;
     font-size: 20px;
 } */

 