body {
    background-color: blanchedalmond;
}

.parent {
    border: 2px solid red;
    padding: 5px;
}

.child {
    border-radius: 4px;
    border: 2px solid black;
    background-color: cadetblue;
    color: beige;
    font-size: 20px;
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    display: grid;
    gap: 10px;
    /* grid-template-columns: 200px 300px 400px; */
    /* grid-template-rows: 200px 200px;  */
    /* grid-template-columns: 1fr 300px 400px;
    grid-template-rows: 1fr 200px;

    height: 400px; */
    /* grid-template-columns: repeat(3, 1fr);
    height: 400px;
    grid-template-rows: repeat(2, 2fr); */

    height: 600px;

    grid-template-areas:
        "header header header"
        "sidebar body body"
        "footer footer footer"
    ;

    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 3fr 3fr;
}

.child-1 {
    /* grid-area: child-1; */
    grid-area: header;
}

.child-2 {
    /* grid-area: child-2; */
    grid-area: sidebar;
}

.child-3 {
    /* grid-area: child-3; */
    grid-area: body;
}

.child-4 {
    /* grid-area: child-4; */
    grid-area: footer;
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1 / 3;
    /* grid-row-start: 1;
    grid-row-end: 3; */
}

.child-5 {
    grid-area: child-5;
}

.child-6 {
    grid-area: child-6;
}