body{
    background-color: aliceblue;
}

.grand-parent {
    background-color: beige;
    height: 700px;
    padding: 20px;
}

.parent {
    background-color: blueviolet;
    height: 500px;
    /* position: relative; */
    /* position: fixed; */
}

/* Easily control on div child  */
.parent>div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    /* position: relative; */
}

.child-1 {
    background-color: cadetblue;
}

.child-2 {
    background-color: brown;
    /* top: -20px;
    left: 20px; */
}

.child-3 {
    background-color: coral;
    /* top: -40px;
    left: 40px; */
}

.child-4 {
    background-color: cornflowerblue;
    /* top: -60px;
    left: 60px; */
}

.child-5 {
    background-color: darkgreen;
    /* top: -80px;
    left: 80px; */
}

/* Position mode experiments */

/* .child-2{
    position: relative;
    top: 20px;
    left: 20px;
} */

/* absolute cloestest parent - align positioning */
/* .child-3{
    position: absolute;
    top: 20px;
    left: 20px;
} */

/* .child-3 {
    z-index: 1;
} */

.parent{
    width: 400px; 
    top: 50px;
    /* position: fixed;  */
    /* position: absolute; */
} 

.child-1{
    position: sticky;
    top: 0;
}